*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#B8E0D2 ;
}

header{
    min-height:30vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
    padding:10px;
    box-shadow:2px 2px 10px black;
    
}
header p{
    font-size:1.5em;
}
h1{
    color:#D6EADF;
    text-shadow:3px 2.3px 4px black;
}

p,form{
    color:black;
    text-shadow:1px 1px 0.3px  #F5EBE0;
    font-weight:600;
}



form{
    margin:10px;
    font-size:1.3rem;
    box-shadow:2px 2px 10px black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height:50vh;
    padding:5px;
    color:black;
    border-radius:10px;
}

input[type="number"]{
    height:30px;
    background-color:#F5EBE0;
    border-radius:7px;
    border:none;
    width:80px;
    font-size:18px;
}



button{
    height:30px;
    width:70px;
    background-color:#E3D5CA;
    border-radius:8px;
    border:2px solid black;
    box-shadow:2px 2px 4px black;
    font-size:0.8em;
}
.resultcon{
    font-weight:700;
    color:#EDEDE9;
    font-size:2rem;
    text-shadow:2px 2px 2px black ;
}

#reset{
    margin:0 auto;
    display:block;
    font-size: 1rem;
    color:black;
    box-shadow:2px 2px 5px black;
}


.top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:30%;
    width:100%;
}
